* {
  padding: 0;
  margin: 0;
}
:root {
  --blue: #08244e;
  --white: #e6e6e6;
  --light: #3397b7;
}
body {
  background-image: url("img/Home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 0rem;
}
nav {
  width: 100%;
  height: 10vh;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  min-width: 60vh;
}
nav .logo {
  margin-left: 2vh;
}
nav ul li {
  display: inline;
  list-style: none;
  margin-left: 3vh;
}
nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2vh;
}
nav .log {
  margin-right: 2vh;
  color: var(--white);
  display: flex;
}
nav .log a {
  text-decoration: none;
  color: var(--white);
  margin-right: 2vh;
  height: 3vh;
  display: flex;
  align-items: center;
  font-size: 1.2vh;
}
.log .sin a {
  text-decoration: none;
  color: var(--blue);
  margin-left: 2vh;
  font-size: 1.2vh;
}
.log .sin {
  background-color: var(--white);
  color: var(--blue);
  height: 3vh;
  width: 7vh;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  width: 40vh;
  height: 30vh;
}
.container {
  width: 70vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-left: 5%;
}
.welcome h3 {
  font-size: 2vh;
  margin-bottom: 2vh;
}
.welcome h2 {
  font-size: 4vh;
}
.welcome h1 {
  font-size: 4.5vh;
  margin-bottom: 2vh;
}
.welcome p {
  font-size: 1.5vh;
  margin-bottom: 3vh;
}
.welcome .btns {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
.v,
.m {
  height: 5vh;
  width: 10.5vh;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v {
  border: 0.2vh solid var(--blue);
  font-size: 1.6vh;
  background-color: var(--white);
}
.m {
  border: 0.2vh solid var(--blue);
  font-size: 1.6vh;
  background-color: var(--blue);
  color: var(--white);
}
.s1 {
  height: 19vh;
  width: 26vh;
  background-color: #5db7d4;
  border-radius: 1vh;
  padding: 2vh;
  color: #e6e6e6;
}
.sqs {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 10%;
}
.s1 svg {
  margin-top: 1.5vh;
}
.s1 h2 {
  margin-top: 1.2vh;
  font-size: 1.7vh;
}
.s1 p {
  margin-top: 1.5vh;
  font-size: 1.2vh;
}
#a1 {
  background-color: #0098c9;
}
#a2 {
  background-color: #005b9e;
}
#a3 {
  background-color: #0c2d60;
}
